body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  vertical-align: top;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

h1, .big-size-text {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  font-family: Raleway, sans-serif;
  margin: 0;
}

.site-content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.background-yellow-line {
  display: inline-block;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

.background-yellow-line::before {
  content: '';
  position: absolute;
  bottom: 40%;
  left: -10%;
  width: 120%;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header css*/

.header {
  position: relative;
  height: 750px;
  padding-top: 40px;
}

.logo svg{
  position: absolute;
  left: 190px;
  top: 55px;
  z-index: 10;
}

section {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.navigation-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
}

.search {
  display: flex;
  width: 517px;
  margin-right: 24px;
}

.search-input {
  width: 320px;
  height: 40px;
  background-color: #FFE17F;
  border: 0 solid;
  margin-left: 40px;
  font-size: 18px;
}

.search-button {
  width: 153px;
  height: 44px;
  background-color: #FFE17F;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 0 40px 40px 0;
  border-left: none;
  padding: 0;
}

.search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.search-container {
  border: 2px solid black;
  border-radius: 40px 0 0 40px;
  width: 360px;
  height: 40px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 11px;
}

#search::placeholder {
  font-size: 16px;
  color: black;
  margin-left: 10px;
  padding-left: 15px;
}

.actions-bar {
  padding-top: 43px;
  display: flex;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.svg-icons {
  margin-right: 12px;
}

.sign-in-form {
  align-items: baseline;
  margin-right: 175px;
}

.compare {
  margin-right: 18px;
}

.basket-form {
  width: 128px;
  position: relative;
  text-align: end;
}
.basket-form span {
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: white;
  border: white;
  border-radius: 50px;
  z-index: 50;
  line-height: normal;
  margin-left: -15px;
  margin-top: 5px;
  text-align: center;
}

.nav-item a:hover {
  opacity: 70%;
}

.nav-item a:focus {
  outline: 2px solid #AF4FFF;
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  font-family: Raleway sans-serif;
  font-weight: 800;
  font-size: 18px;
  width: 470px;
  padding: 0;
  text-transform: uppercase;
  margin-right: 50px;
  margin-left: auto;
  margin-top: 30px;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  display: inline-block;
  left: 50px;
}

.dropdown-list span {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown-content a {
  color: black;
}

.decoration {
  display: flex;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.decoration-text {
  font-size: 180px;
  color: #FFFFFF;
  font-weight: 700;
  margin-left: 850px;
  margin-top: 65px;
}

.header-content {
  display: flex;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.slider {
  position: relative;
  display: flex;
  width: 560px;
  height: 560px;
}

.slider{
  display: flex;
  justify-content: space-between;
}

.slider img {
  display: block;
}

.slider-button {
  width: 20px;
  height: 60px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-image: url("../images/icons/prev.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.description-product {
  width: 560px;
  height: 401px;
  bottom: 25px;
  position: relative;
}

.description-product p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 61px;
}

.big-size-text {
  display: inline-block;
  margin-bottom: 29px;
}

.link-to-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.product {
  display: flex;
  width: 305px;
}

.product .characteristic:first-child {
  margin-right: 20px;
}

.ellipse img:not(:last-child) {
  margin-right: 20px;
}

.meters {
  font-size: 36px;
  font-weight: 400;
}

.characteristic .meters:nth-child(2) {
  width: 110px;
}

.distance {
  font-size: 16px;
}

/*main*/
.assortment-container {
  margin-bottom: 70px;
}

.assortment {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
}

.assortment li {
  width: 160px;
  height: 255px;
}

.img-product {
  width: 100%;
  height: 160px;
  background-color: #FFE17F;
  display: block;
  text-align: center;
}

.img-product img {
  padding-top: 45px;
}

.item-name {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-top: 30px;
  letter-spacing: -1px;
}

.delivery {
  height: 320px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
}

.delivery-items {
  width: 280px;
  height: 40px;
  text-align: center;
}

.delivery-items span {
  width: 153px;
}

.delivery-items:hover {
  background-color: #000;
}

.delivery-items:hover span {
  color: #FFE17F;
}

.description-container {
  display: grid;
  grid-template-columns: 450px 250px;
  width: 700px;
  height: 175px;
  margin: 72px 63px 72px 116px;
}

.delivery-img img {
  padding-left: 115px;
}

.background {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: #F0F0F0;
  bottom: 216px;
  z-index: -10;
  margin-bottom: -160px;
}

.delivery-exclusive {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.delivery-exclusive:focus {
  outline: 3px solid #af4fff;
}

.attention-wrap {
  width: 125px;
  display: flex;
  justify-content: center;
}

.delivery-logo {
  height: 100%;
  width: 125px;
  align-self: center;
}

.delivery-exclusive span {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.delivery-logo {
  background-color: #FFE17F;
  background-image: url("../images/icons/kar.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.attention-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  background-image: url("../images/icons/i.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 545px;
  column-gap: 60px;
  position: relative;
  margin-bottom: 70px;
}

.contact-info p {
  margin-top: 0;
  margin-bottom: 30px;
}

.contact-info h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.contact-info h1 {
  margin-top: 40px;
  margin-bottom: 48px;
}

.company-contact a {
  margin-left: 15px;
}

address {
  font-style: inherit;
  margin-bottom: 30px;
}

address a {
  text-decoration: underline;
}

.working-time {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.transport-company {
  padding: 0;
  margin-bottom: 40px;
}

.transport-company li {
  color: #FFE17F;
  margin-bottom: 15px;
}

transport-company li:not(:last-child) {
  margin-bottom: 0;
}

.transport-company span {
  color: black;
  font-weight: 700;
  letter-spacing: 0;
}

.transport-company::before {
  content: '';
  position: absolute;
  height: 7px;
  width: 80px;
  background-color: black;
  top: 0;
  left: 0;
}

.company-contact::before {
  content: '';
  position: absolute;
  height: 7px;
  width: 80px;
  background-color: black;
  top: 0;
}

.mailing {
  height: 420px;
}

.mailing-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mailing-content span {
  display: inline-block;
  margin-top: 64px;
  margin-bottom: 144px;
}

.mailing-content p {
  display: inline-block;
  margin-top: 74px;
  margin-bottom: 144px;
}


.mailing-form {
  display: flex;
  position: relative;
  height: 57px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: baseline;
}

.mailing-form img {
  margin-right: 10px;
}

.email {
  width: 557px;
  height: 57px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #CECECE;
  background-color: #F0F0F0;
  box-sizing: border-box;
}

.email:focus {
  outline: 0;
}

.email::placeholder {
  font-size: 18px;
  color: #444444;
  opacity: 50%;
}

.submit :focus {
  outline: 0;
}

.submit {
  width: 250px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid #CECECE;
  margin-left: -4px;
  height: 64px;
}

.decoration-background {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: #F0F0F0;
  bottom: 420px;
  z-index: -10;
  margin-bottom: -420px;
}

/*footer*/
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 100%;
  margin: auto;
}

.footer-logo p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 64px;
  line-height: 20px;
}

footer a {
  color: #FFFFFF;
}

.footer-page {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 321px;
  left: 0;
  top: 0;
  color: #FFFFFF;
  background-color: #444444;
}

.footer-logo {
  width: 250px;
}

.footer-logo img {
  margin-top: 62px;
  margin-bottom: 30px;
}

.footer-logo::before {
  content: '';
  position: absolute;
  top: 242px;
  display: inline-block;
  width: 250px;
  max-width: 100px;
  height: 8px;
  background-color: #FFE17F;
  z-index: 1;
}

.footer-conditions {
  width: 444px;
  margin-top: 137px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  font-family: Raleway, serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 62px;
}

.footer-contact {
  width: 250px;
  text-align: right;
  margin-bottom: 0;
}

.footer-contact a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 140px;
  margin-bottom: 63px;
}

.social-contact {
  display: flex;
  justify-content: center;
}

.social-icons-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-circle:not(:last-child) {
  margin-right: 15px;
}

.social-icons-circle a {
  height: 25px;
}

/*CATALOG*/

/*header*/

.header-catalog {
  height: 186px;
}

.navigation-container-catalog {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 1160px;
  height: 186px;
  background-color: #FFE17F;
}

.sign {
  width: 150px;
}

/*main*/

.catalog-content {
  width: 1080px;
  margin: 0 auto;
}

.navigation-product {
  width: 100%;
  margin-bottom: 55px;
  margin-top: 70px;
}

.nav-list {
  padding-top: 10px;
}

.nav-list span {
  margin: 0 10px;
}

.wrapper-color {
  display: table-cell;
  width: 1440px;
  background-color: #a8d9e8;
  vertical-align: middle;
  text-align: center;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filter-span, .sort-span {
  font-family: Raleway, serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

hr {
  width: 196px;
  height: 2px;
  color: #000000;
  background-color: #000000;
  margin: 0 0 12px 0;
}

.form-span {
  font-weight: bold;
  font-size: 18px;
}

/* range*/

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #af7842;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}





input[type="checkbox"] {
  display: none;
}

.check {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  vertical-align: middle;
}

.check:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 12px/20px Arial;
  margin-right: 16px;
  position: relative;
  text-align: center;
  width: 17px;
  height: 17px;
  background: #FFF;
  border: 3px solid #e3e3e3;
  vertical-align: middle;
}

input:checked + .check:before {
  content: url("../images/icons/checkbox.png");
  border: 3px solid black;
}

input:disabled + .check:before {
  background: #eee;
  color: #aaa;
}

.checkbox-color p {
  font-weight: 400;
}

input[type="radio"] {
  display: none;
}

.label-radio {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}

.label-radio:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 9px/20px Arial;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
  text-align: center;
  width: 17px;
  height: 17px;
  background: #FFF;
  border: 3px solid #e3e3e3;
  vertical-align: middle;
}


input:checked + .label-radio:before {
  content: url("../images/icons/radio.png");
  border: 3px solid black;
}

input:disabled + .label-radio:before {
  background: #eee;
  color: #aaa;
}

.sort-button {
  width: 210px;
  height: 20px;
  border: none;
}

.sort-products {
  display: grid;
  grid-template-columns: 1fr 840px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  width: 760px;
  padding-left: 0;
  margin: 70px auto 40px;
}

.description-img {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.products-list li:not(:last-child) {
  margin-bottom: 40px;
}

.name-item {
  align-self: end;
  width: 200px;
}

.main-content {
  height: 1310px;
}

.price {
  align-self: center;
}

.loading {
  width: 760px;
  height: 55px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  border: 4px solid #EBEBEB;
  background-color: #FFFFFF;
}

.slider-img {
  display: flex;
  width: 760px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
  margin: 0 auto 70px;
}

.paginator {
  display: flex;
}

.prev-btn, .next-btn {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  width: 130px;
  letter-spacing: 2px;
  border: none;
  background-color: #EBEBEB;
}

.loading-buttons {
  text-align: center;
}

.age-num {
  position: relative;
  text-align: center;
}

.ranges-container {
  display: flex;
  width: 200px;
}

.ranges-container .range {
  width: 100px;
}

.ranges-container .range input[type="range"] {
  width: 100%;
}

input[type="range"] {
  overflow: hidden;
  margin: auto;
  -webkit-appearance: initial;
  position: relative;
  height: 20px;
  width: 200px;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: black;
}




