body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  vertical-align: top;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

h1, .big-size {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  font-family: Raleway, sans-serif;
  margin: 0;
}

.site-content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.background-yellow-line {
  display: inline-block;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

.background-yellow-line::before {
  content: '';
  position: absolute;
  bottom: 40%;
  left: -10%;
  width: 120%;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

/*header css*/

.header {
  position: relative;
  height: 750px;
  margin-top: 100px;
  padding-top: 40px;
}

.logo img {
  position: absolute;
  left: 190px;
  top: 55px;
  z-index: 10;
}

section {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.navigation-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
}

.search {
  display: flex;
  height: 40px;
  width: 517px;
}

.search-input {
  width: 320px;
  height: 40px;
  background-color: #FFE17F;
  border: 0 solid;
  margin-left: 40px;
  font-size: 18px;
}

.search-input:focus {
  outline: 0;
}

.search-button {
  width: 153px;
  height: 44px;
  background-color: #FFE17F;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 0 40px 40px 0;
  border-left: none;
}

.search-container img {
  position: absolute;
  padding-top: 10px;
  left: 15px;
}

.search-container {
  position: relative;
  border: 2px solid black;
  border-radius: 40px 0 0 40px;
  width: 360px;
  height: 40px;
}

#search::placeholder {
  font-size: 15px;
  color: black;
  margin-left: 10px;
  padding-left: 15px;
}

.dropdown-list {
  position: absolute;
  display: inline-block;
  left: 50px;
}

.dropdown-img img {
  position: absolute;
  padding: 15px 15px;
  border: 2px solid black;
  border-radius: 50%;
  right: -58px;
  bottom: -8px;
  opacity: 0.33;
}

.dropdown-list span {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style: none;
  border-radius: 7%;
}

.dropdown-content a {
  color: black;
}

.dropdown-list:hover .dropdown-content {
  display: block;
}

.actions-bar {
  padding-top: 43px;
  display: flex;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.sign-in-form {
  width: 231px;
  margin: 0 25px;
}

.comparison-form {
  display: flex;
  justify-content: space-between;
  width: 241px;
  height: 30px;
  text-align: center;
}

.icon {
  margin-right: 12px;
}

.basket-form span {
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: white;
  border: white;
  border-radius: 50px;
  z-index: 50;
  line-height: normal;
  margin-left: -15px;
  margin-top: 5px;
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  font-family: Raleway sans-serif;
  font-weight: 800;
  font-size: 18px;
  width: 470px;
  text-transform: uppercase;
  margin-right: 50px;
  margin-left: auto;
  margin-top: 30px;
  align-items: center;
  list-style: none;
}

.decoration {
  display: flex;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.decoration-text {
  font-size: 180px;
  color: #FFFFFF;
  font-weight: 700;
  margin-left: 855px;
  margin-top: 60px;
}

.header-content {
  display: flex;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.slider {
  position: relative;
  display: flex;
  width: 560px;
  height: 560px;
  margin-right: 50px;
  margin-top: -150px;
}

.slider-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 530px;
  height: 60px;
  margin-right: 30px;
  left: 30px;
  top: 210px;
}

.description-product {
  width: 560px;
  height: 401px;
  bottom: 25px;
  position: relative;
}

.link-to-product {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  width: 305px;
  margin-top: 30px;
}

.product .characteristic:last-child {
  font-size: 16px;
}

.distance {
  font-size: 36px;
  font-weight: 400;
}

.characteristic .distance:first-child {
  width: 110px;
}

/*main*/

.main-index {
  height: 2060px;
}

.assortment-container {
  margin-bottom: 70px;
}

.assortment {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.assortment li {
  width: 160px;
  height: 255px;
}

.img-product {
  width: 100%;
  height: 160px;
  background-color: #FFE17F;
  display: block;
  text-align: center;
}

.img-product img {
  padding-top: 45px;
}

.item-name {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-top: 30px;
  letter-spacing: -1px;
}

.delivery {
  height: 320px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 2px solid black;
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
}

.delivery-items {
  width: 280px;
  height: 40px;
  text-align: center;
}

.delivery-items span {
  width: 153px;
}

.delivery-items:hover {
  background-color: #000;
}

.delivery-items:hover span {
  color: #FFE17F;
}

.description-container {
  display: grid;
  grid-template-columns: 450px 250px;
  width: 700px;
  height: 175px;
  margin: 72px 63px 72px 116px;
}

.delivery-img img {
  padding-left: 115px;
}

.background {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: #F0F0F0;
  bottom: 216px;
  z-index: -10;
  margin-bottom: -160px;
}

.delivery-exclusive {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.delivery-exclusive div {
  height: 100%;
  width: 125px;
  align-self: center;
}

.delivery-exclusive span {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.delivery-logo {
  background-color: #FFE17F;
}

.delivery-exclusive img {
  position: relative;
  top: 30px;
  left: 30px;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 545px;
  column-gap: 60px;
  position: relative;
  margin-bottom: 70px;
}

.contact-info h1 {
  margin-top: 60px;
}


.company-info a {
  margin-left: 35px;
}

.company-contact a {
  margin-left: 15px;
}

.transport-company li {
  color: #FFE17F;
}

.transport-company span {
  color: black;
  font-weight: 700;
  letter-spacing: 0;
}

.transport-company::before {
  content: '';
  position: absolute;
  height: 7px;
  width: 80px;
  background-color: black;
  top: 0;
  left: 0;
}

.company-contact::before {
  content: '';
  position: absolute;
  height: 7px;
  width: 80px;
  background-color: black;
  top: 0;
}

.mailing {
  height: 420px;
}

.mailing-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.mailing-form {
  display: flex;
  position: relative;
  height: 65px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 155px;
  justify-content: space-between;
  align-items: baseline;
}

.mailing-form img {
  position: absolute;
  right: 150px;
  top: 10px;
}

.email {
  width: 560px;
  height: 55px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #CECECE;
  background-color: #F0F0F0
}

.email:focus {
  outline: 0;
}

.submit :focus {
  outline: 0;
}

.submit {
  width: 250px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #CECECE;
  margin-left: -4px;
  height: 64px;
}

.decoration-background {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: #F0F0F0;
  bottom: 435px;
  z-index: -10;
}

/*footer*/
.footer-content {
  display: grid;
  grid-template-columns: 250px 660px 250px;
  width: 1160px;
  height: 220px;
  margin: auto;
  padding-top: 80px;
}

.footer-logo p {
  font-size: 16px;
}

footer a {
  color: #FFFFFF;
}

.footer-page {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  left: 0;
  top: 0;
  color: #FFFFFF;
  background-color: #444444;
}

.footer-logo::before {
  content: '';
  position: absolute;
  top: 250px;
  display: inline-block;
  width: 250px;
  max-width: 100px;
  height: 8px;
  background-color: #FFE17F;
  z-index: 1;
}

.navigation-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  font-family: Raleway, serif;
  font-weight: 800;
  font-size: 18px;
  height: 50px;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 5px;
  align-items: center;
  list-style: none;
}

.footer-contact {
  height: 180px;
  margin-top: 40px;
  text-align: right;
}

.footer-contact a {
  color: #FFFFFF;
  font-size: 16px;
}

.footer-contact img {
  margin-top: 60px;
}

.social-contact {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-contact a {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px 15px;
  border-radius: 50%;
  margin-right: 17px;
}

/*CATALOG*/

/*header*/

.header-catalog {
  height: 186px;
  margin-top: 50px;
}

.navigation-container-catalog {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 1160px;
  height: 186px;
  background-color: #FFE17F;
}

.sign {
  width: 150px;
}

/*main*/

.main-catalog {
  height: 1480px;
}

.catalog-content {
  width: 1080px;
  margin: 0 auto;
}

.navigation-product {
  width: 100%;
  margin-bottom: 55px;
  margin-top: 70px;
}

.nav-list {
  padding-top: 10px;
}

.nav-list span {
  margin: 0 10px;
}

.filter-list {
  display: flex;
  justify-content: space-between;

}

.filter-span, .sort-span {
  font-family: Raleway, serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sort-products {
  display: grid;
  grid-template-columns: 1fr 840px;
  margin-top: 30px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  width: 760px;
  padding-left: 0;
  margin: 70px auto 40px;
}

.description-img {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.products-list li:not(:last-child) {
  margin-bottom: 40px;
}

.name-item {
  align-self: end;
  width: 200px;
}

.main-content {
  height: 1310px;
}

.price {
  align-self: center;
}

.loading {
  width: 760px;
  height: 55px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  border: 4px solid #EBEBEB;
  background-color: #FFFFFF;
}

.slider-img {
  display: flex;
  width: 760px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
  margin: 0 auto 70px;
}

.paginator {
  display: flex;
}

.prev-btn, .next-btn {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  width: 130px;
  letter-spacing: 2px;
  border: none;
  background-color: #EBEBEB;
}

.loading-buttons {
  text-align: center;
}
